.grid {
    /* ensure sizing includes padding and border */
    box-sizing: border-box;

    /* set fixed size for grid */
    width: 500px;
    height: 500px;

    /* wrap elements to the next line */
    display: flex;
    flex-wrap: wrap; 
    border: 2px solid black;
}

.grid div{
    background-color: #efecec;
    border: 1px solid #e0dfdff5;
    box-sizing: border-box;
}

/* use chaining for more specificity. Otherwise, the above rule overrides. */
.grid div.hover {
    background-color: #040404;
}