body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    text-align: center;
}

.header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.header p {
    font-size: 1.1em;
    color: #555;
    max-width: 90%;
    margin: 0 auto;
    text-align: justify;
    margin-bottom: 20px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.grid {
    /* ensure sizing includes padding and border */
    box-sizing: border-box;

    /* set fixed size for grid */
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;

    /* wrap elements to the next line */
    display: flex;
    flex-wrap: wrap; 
    border: 2px solid black;
    
}

.grid div{
    background-color: #efecec;
    border: 1px solid #e0dfdff5;
    box-sizing: border-box;
}

/* use chaining for more specificity. Otherwise, the above rule overrides. */
.grid div.hover {
    background-color: #040404;
}

button {
    padding: 10px 20px;
    font-size: 0.9em;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: 1px solid #0056b3;
    border-radius: 5px;
    width: 100%;
    max-width: 200px;
}

button:hover {
    background-color: #0056b3;
}

/* Media query for smaller screens */
@media (max-width: 400px) {
    .header h1 {
        font-size: 1.8em;
    }

    .header p {
        font-size: 1em;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .grid {
        max-width: 300px;
        max-height: 300px;
    }

}